@{
    ViewBag.Title = "Página Principal";
}

<h2>Bienvenido a Eureka Bank</h2>
<p>Esta API permite realizar las siguientes acciones:</p>

<ul>
    <li><strong>Ver Movimientos</strong>: Permite visualizar los movimientos de una cuenta específica.</li>
    <li><strong>Registrar Depósito</strong>: Permite registrar un nuevo depósito en una cuenta.</li>
</ul>

<p>Use las herramientas adecuadas para interactuar con la API mediante los siguientes endpoints:</p>

<ul>
    <li><strong>Ver Movimientos</strong>: <code>/api/movements/{clientCode}</code></li>
    <li><strong>Registrar Depósito</strong>: <code>/api/deposits</code></li>
</ul>
